.productBlock {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -1px 0px rgb(41 41 41 / 13%);
}

.logo {
  width: 80px;
  height: 80px;
}

.addButton {
  background-color: #3c39ec;
  border-radius: 5px;
  height: 40px;
  padding: 10px 24px;
  color: #ffffff;
  font-size: 14px;
}

.addButton:focus {
  background-color: #807fed;
  transition: .3s;
}

.price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #000;
}

.amountBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 128px;
  font-size: 16px;
  color: #292929;
}

.amountBtn {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #ebebeb;
  border-radius: 4px;
  font-size: 24px;
}

.productCount {
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 50px;
    height: 50px;
  }

  .addButton {
    height: 40px;
    padding: 10px 10px;
  }
}
